# Entorno virtual
.venv/
env/
venv/
ENV/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Otros
.DS_Store
.vscode/

# Ignorar archivos de datos generados por SADE
data/exports/*.csv
data/exports/*.xlsx
data/exports/*.json

src/interfaces/preparar_flourish.py